# Core packaging tools
setuptools>=75.0.0
wheel>=0.43.0

# Flask (web framework)
flask==2.3.3
flask-cors==4.0.0

# PyTorch & related
torch>=2.3.0
torchvision>=0.18.0

# Computer Vision & ML utilities
opencv-python>=4.9.0
numpy>=1.26.0
pyyaml>=6.0.1
pillow>=10.0.0

# PDF generation
reportlab>=3.6.0
